body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #dbabbe;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

.top-bar {
  background-color: #dbabbe;
  color: #555;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.top-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.top-bar ul li {
  margin-left: 10px;
  margin-right: 20px;
}

.top-bar ul li:first-child {
  margin-left: 0;
}

.top-bar ul li a {
  color: #555;
  text-decoration: none;
}

.hidden {
  display: none;
}

.fa-envelope {
  color: #797B84; /* Change this value to your desired color */
}
